<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary w-100 navbar-light">
    <div class="container">
      <div class="container-fluid d-flex justify-content-center p-3">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/icon.png') }}" alt="Logo"
            width="30" height="30" class="d-inline-block align-text-top">ToDoList</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="https://github.com/BrunoMorales23/Py-Lab-WS-02-ToDoList"
              target="_blank">Repositorio</a>
            <a class="nav-link" href="https://marsublog.onrender.com/" target="_blank">Blog</a>
          </div>
        </div>
      </div>
    </div>

  </nav>


  <div class="container">
    <div class="container-fluid d-flex justify-content-center p-3">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Crear nueva tarea
      </button>
    </div>
  </div>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Nueva Tarea</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="container-fluid">
              <form action="/task" method="post">
                <textarea class="text-area" placeholder="Título de la tarea" name="Title" value="Title"
                  required></textarea>
                <textarea class="text-area" placeholder="Resumen de su tarea" name="Resume" value="Resume"
                  required></textarea>
                <select class="form-select w-100" aria-label="Prioridad" name="Prioridad">
                  <option selected value="Sin Prioridad">Sin Prioridad</option>
                  <option value="Crítico">Crítico</option>
                  <option value="Prioritario">Prioritario</option>
                  <option value="No urgente">No urgente</option>
                </select>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" name="button"
                    value="cancelar">Cancelar</button>
                  <button type="submit" class="btn btn-primary" name="button" value="aceptar">Aceptar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="container-fluid">


      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/task">Tareas Activas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/task/closed">Tareas Cerradas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/task/deleted">Papelera</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Tarea</th>
                <th scope="col">Descripción</th>
                <th scope="col">Prioridad</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in contenido %}
              <tr>
                <th scope="row">{{ item.name }}</th>
                <td>{{ item.desc }}</td>
                <td>{{ item.prio }}</td>
                <td>{{ item.date }}</td>
                <td>
                  <form action="/task{{item.name}}" method="post">
                    {% if '/task/deleted' in current_path %}
                    <button type="submit" class="btn btn-warning" name="button" value="closecerrar">Restaurar</button>
                    <button type="submit" class="btn btn-danger" name="button" value="closeeliminar">Eliminar
                      Definitivamente</button>
                    {% elif '/task/closed' in current_path %}
                    <button type="submit" class="btn btn-warning" name="button" value="closecerrar">Reabrir</button>
                    <button type="submit" class="btn btn-danger" name="button" value="closeeliminar">Mover a
                      Papelera</button>
                    {% else %}
                    <button type="submit" class="btn btn-success" name="button" value="maincerrar">Finalizada</button>
                    <button type="submit" class="btn btn-danger" name="button" value="maineliminar">Mover a
                      Papelera</button>
                    {% endif %}
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</body>

</html>